# Blogger to Markdown Configuration
# Copy this file to .env and update the values to match your setup

# Paths are relative to project root

# Path to the Blogger XML feed file
BLOG_FILE=feed.atom

# Directory where markdown files will be written to
OUTPUT_DIR=output

# Template file for markdown output
TEMPLATE_FILE=template.md

# If downloading image files
ASSETS_DIR=assets/img/posts
LIMIT_FILES=0